[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/hot-chain-svg"]
	path = lib/hot-chain-svg
	url = https://github.com/w1nt3r-eth/hot-chain-svg
[submodule "lib/ERC721A"]
	path = lib/ERC721A
	url = https://github.com/chiru-labs/ERC721A
[submodule "lib/chainlink"]
	path = lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "lib/utility-contracts"]
	path = lib/utility-contracts
	url = https://github.com/jameswenzel/utility-contracts
